<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.www.repository.NoticeDAO">
	<select id="getList" resultType="com.koreait.www.domain.NoticeVO">
		select * from notice where is_del = "N"
		<include refid="search"></include>
		order by nno desc limit #{pageStart}, #{qty}
	</select>
	<select id="getTotalCount" resultType="long">
		select count(nno) from notice where is_del = "N"
		<include refid="search"></include>
	</select>
	<insert id="insert">
		insert into notice(title, content, exp_date)
		values(#{title}, #{content}, #{expDate})
	</insert>
	<select id="getLast" resultType="long">
		select max(nno) from notice
	</select>
	<select id="getDetail" resultType="com.koreait.www.domain.NoticeVO">
		select * from notice where nno=#{nno} and is_del = "N"
	</select>
	<select id="getBefore" resultType="com.koreait.www.domain.NoticeVO">
		select nno, title, reg_date from notice where (nno <![CDATA[<]]> #{nno}) and is_del = "N"
		order by nno desc limit 1
	</select>
	<select id="getNext" resultType="com.koreait.www.domain.NoticeVO">
		select nno, title, reg_date from notice where (nno <![CDATA[>]]> #{nno}) and is_del = "N"
		order by nno limit 1
	</select>
	
	<select id="getCurrentNotices" resultType="com.koreait.www.domain.NoticeVO">
		select * from notice where (exp_date is null) or (exp_date <![CDATA[>=]]> now())
		order by nno desc;
	</select>
	<update id="increaseRC">
		update notice set read_count = read_count + 1 where nno = #{nno}
	</update>
	<update id="update">
		update notice set title=#{title}, content=#{content}
		<if test="expDate != null">, exp_date = #{expDate}</if>
		where nno=#{nno}
	</update>
	
	<sql id="search">
		<if test="type != null">
			<trim prefix="and (" suffix=")" suffixOverrides="or">
				<foreach collection="typeToArray" item="type">
					<trim suffix="or">
						<choose>
							<when test="type == 't'.toString()">title like concat('%', #{keyword}, '%')</when>
							<when test="type == 'w'.toString()">writer like concat('%', #{keyword}, '%')</when>
							<when test="type == 'c'.toString()">content like concat('%', #{keyword}, '%')</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
</mapper>